.main {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6.5rem;
    margin-right: 0.6rem;
}

.title {
    color: var(--subtext);
    font-size: 1.2rem;
    margin-top: 0.6rem;
    text-transform: capitalize;
}

.brandImage {
    max-width: 10rem;
    height: 100%;
}