.main { 
    background-color: var(--background);
    width: 9rem;
    height: 10rem;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--subtext);
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

/* .itemImage {
    background-color: rgba(128, 128, 128, 0.116);
    height: ;
    width: 100%;
    margin-bottom: 0.4rem;
} */

.itemTitle {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
}

.itemQty {
    opacity: 0.8;
    margin-top: 0.5rem;
}


@media only screen and (max-width: 768px) {
    .main {
        width: 7.7rem;
        height: 8.7rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .itemTitle {
        font-size: 1.1rem;
    }

}