.main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.fixednav {
    position: fixed;
    z-index: 999;
    width: 100%;
}

.body {
    margin-top: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bodyItems {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 80%;
    background-color: rgb(255, 255, 255)
}

@media only screen and (max-width: 768px) {
    .bodyItems {
        width: 100%;
        padding: 1rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .bodyItems {
        width: 90%;
        padding: 2rem;
    }
}