.main {
    background-color: var(--salmon);
    height: 6rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.logo {
    width: 6rem;
    margin-right: 2rem;
}

.title {
    font-size: 2rem;
    font-weight: 500;
}